@import "tailwindcss";

body {
  @apply antialiased;
}
/* Font face */
@font-face {
  font-family: "Universal Sans";
  src: url("/fonts/Universal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* 🎨 Colors */
  --color-brand: #4F46E5; /* Indigo */
  --color-blackish: #171a20;
  --color-whito: #fff;
  --color-accent: #f97316; /* Orange */
  --color-grarish: #5c5e62;




  /* 🔤 Fonts */
  --font-sans: "Universal Sans", system-ui, sans-serif;
  --font-heading: "Universal Sans", sans-serif;

  /* 🔠 Typography System */
  --text-h1: 3.5rem;  /* ~36px */
  --font-weight-h1: 600;

  --text-h2: 3rem; /* ~30px */
  --font-weight-h2: 600;

  --text-h3: 2rem;   /* ~24px */
  --font-weight-h3: 600;

  --text-body: 1.2rem;   /* ~16px */
  --font-weight-body: 500;

  --text-small: 0.875rem; /* ~14px */
  --font-weight-small: 400;
}


.swiper-pagination-bullet {
  @apply w-3 h-3 bg-black opacity-60 rounded-full transition-all;
}

.swiper-pagination-bullet-active {
  @apply w-4 h-4 bg-black opacity-100;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(1n) {
  width: 45%;
}

.swiper-slide:nth-child(2n) {
  width: 45%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
